html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  line-height: 4rem;
  text-align: center;
}

.prediction {
  top: 50%;
}

.image, .prediction {
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% - 8rem);
  line-height: calc(100% - 8rem);
  transform: translate(-50%, -50%);
  transition: opacity .5s;

  &.loading {
    opacity: 0.25;
  }
}
